// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #333333;
$dark_glay: #323232;
$glay: #555;
$dark_glay: #333;

$title_color: #164a84;
$circle: #eaedf7;

$panel_background_color: #e6e6e6;
$form_background_color: #f0f8ff;
$button_blue: #164a84;
$footer_color: #0f2350;
$modal_tip_color: #c0c0c0;

$title_font: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN";
$title_sub_font: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN";
$wafu_font: "游明朝体", "YuMincho";
$wafu_sub_font: "游ゴシック体", "YuGothic";
